<!DOCTYPE html>

<%-include('../partials/head'); %> 

<body class='container'>

    <%-include('../partials/header', {pagina: 'Jogo'}); %> 

    <main>
        <div class="jumbotron">
            <h1>Master mim um</h1>
             <p>oi sou João desenvolvedor </p>
        </div>
    </main>

    <%-include('../partials/footer'); %> 
</body>
<html